.services_bg{
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url('../../assets/images/services.jpg');
    background-position: top;
    background-size: cover;
}