.volunteer_Bg{
    background-image: linear-gradient(to right, rgba(0,0,0,0.8)  , rgba(0,0,0,0.3)) , url('../../assets/images/footerImage.jpg');
    background-position: center;
    background-size: cover;
}